<h1>Dashboard</h1>
<p>Welcome, <%= user.email %>!</p>

<p>Quick links:</p>
<ul>
  <li><a href="/tasks">View tasks</a></li>
  <li><a href="/tasks/new">Create a task</a></li>
  <li><a href="/search">Global search</a></li>
</ul>
